* {
  padding: 0;
  margin: 0;
}

h1 {
  color: #0095b3;
}

.door-title-text {
  color: #0222c5;
  text-align: center;
  width: 200px;
}

#hidden-link {
  color: white;
}

#monster-img {
  width: 300px;
}

#room-2-link {
  position: relative;
  right: 100px;
  bottom: 100px;
}

#room-2-link-container {
  transform: rotate(90deg);
}

.navbar-container {
  background-color: green;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-links {
  width: 200px;
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-link {
  color: white;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
}