h1 {
  color: #0095b3;
}

.door-title-text {
  color: #0222c5;
  text-align: center;
  width: 200px;
}

#hidden-link {
  color: white;
}

#monster-img {
  width: 300px;
}

#room-2-link {
  position: relative;
  right: 100px;
  bottom: 100px;
}

#room-2-link-container {
  transform: rotate(90deg);
}