[general]
root = "./"
port = 80
compression = true
cache-control-headers = true

[advanced]

[[advanced.headers]]
source = "/"
[advanced.headers.headers]
Cache-Control = "no-cache, no-store, must-revalidate"
Pragma = "no-cache"
Expires = "0"

[[advanced.headers]]
source = "**/*.html"
[advanced.headers.headers]
Cache-Control = "no-cache, no-store, must-revalidate"
Pragma = "no-cache"
Expires = "0"

[[advanced.headers]]
source = "**/*.{css,js}"
[advanced.headers.headers]
Cache-Control = "max-age=0, must-revalidate"